[default]
access_key = {{ access_key }}
secret_key = {{ secret_key }}
host_base = {{ project_name }}.local
host_bucket = {{ project_name }}.local
use_https = False
check_ssl_hostname = False
check_ssl_certificate = False
